{% extends "base.html" %} {% block main %}
<div class="profile-container">
  <div class="card-wrapper">
    <div class="card-header">
      <img
        src="{{ url_for('static', filename='img/profile.jpg') }}"
        alt=""
        class="profile-img"
      />
      <h2 id="my-name">Jason Gayle</h2>
      <p id="social">@DangaRanga</p>
      <p>Spanish Town, Jamaica</p>
      <p>Joined {{ join_date }}</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        I'm a computer science major at the University of the West Indies with a
        passion for frontend development, UI Design and AI. Feel free to contact
        me if you'd like to work on a project!
      </p>
      <div id="social-stats">
        <ul class="social-stat">
          <li>
            <h3>7</h3>
          </li>
          <li class="stat">Posts</li>
        </ul>
        <ul class="social-stat">
          <li>
            <h3>100</h3>
          </li>
          <li class="stat">Following</li>
        </ul>
        <ul class="social-stat">
          <li>
            <h3>420</h3>
          </li>
          <li class="stat">Followers</li>
        </ul>
      </div>
      <button id="follow">Follow Me</button>
    </div>
  </div>

  {% endblock %}
</div>
